{% extends 'base.html' %}

{% block title %}
    <h1 style="text-align:center">Internet Consommation</h1><hr>    
{% endblock %}

{% block content %}
    <h3  >Consommation detail</h3>
    <table style="text-align:center" border="2">
        <thead>
            <tr>
                <th>user</th>
                <th>mail</th>
                <th>date</th>
                <th>upload (Ko)</th>
                <th>download (Ko) </th>
            </tr>
        </thead>
        <tbody>
            {% for consommation in consommations %}
            <tr>
                <td> <a href="{% url 'user_details' consommation.user_id %}">{{consommation.user}}</a></td>
                <td>{{consommation.user.email}}</td>
                <td>{{consommation.consumption_date}}</td>
                <td>{{consommation.upload}}</td>
                <td>{{consommation.download}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
{% endblock %}
