<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Blueline Test</title>
    </head>

    <body>
        <h1>Internet Consumption</h1>
        
        <h3>Upload</h3>
        {% for consommation in consommations %}
            {{consommation.user}} : {{ consommation.upload }} <br>
        {% endfor %}
        
        <h3>Download</h3>
        {% for consommation in consommations %}
            {{consommation.user}} : {{ consommation.download }} <br>
        {% endfor %}
        
        <h3>Total</h3>
        {% for consommation in consommation_total %}
            {{ consommation}}  <br>
        {% endfor %}

    </body>

</html>